{% extends 'buyermaster.html' %}
{% block content %}

<div>
				<div class="main-agileits">
					<div class="form-w3agile">
						<h3>Update Password</h3>
						<form  method="post">
							{% csrf_token %}
                            <label>Old Password</label>
							<div class="key">
								<i class="fa fa-lock" aria-hidden="true"></i>
								<input type="password" name="oldtxtpassword" required="">
								<div class="clearfix"></div>
							</div>
<label>New Password</label>
                            <div class="key">
								<i class="fa fa-lock" aria-hidden="true"></i>
								<input type="password" name="newtxtpassword" required="">
								<div class="clearfix"></div>
							</div>
                            <label>Confirm New Password</label>
							<div class="key">
								<i class="fa fa-lock" aria-hidden="true"></i>
								<input type="password" name="newcnftxtpassword" required="">
								<div class="clearfix"></div>
							</div>
							<input type="submit" value="Update">
						</form>
                    </div>
                </div>
</div>
{% endblock %}